PORT=8523

DB_HOST=localhost
DB_USER=eventos_app
DB_PASSWORD=
DB_NAME=restaurante_eventos

ADMIN_USER=FernandoJose
ADMIN_PASSWORD_HASH=
ADMIN_JWT_SECRET=

N8N_SUBSCRIBE_WEBHOOK_URL=
N8N_NEW_EVENT_WEBHOOK_URL=
